/* Tamanho de desktop padrão */
@media only screen and (max-width: 1200px) {
    .diversao{
        margin-left: 2%;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .login{
        display: none;
    }
}
/* Tablets em modo retrato */
@media only screen and (min-width: 768px)  and (max-width: 991px) {
    /* Estilos para tablets em modo retrato aqui */
    .cabecalho{
        margin-left: -4%;
    }
    .texto  h1 ,h3 ,button{
        font-size: 40px;
    }
    .titu1{
        font-size: 20px;
    }
    .diversao {
        display: none;
    }
    
    .diversao1 h5 {
        display: none;
    }
    .diversao1 .informaçao1 button{
        margin-left: 8%;
        margin-top: 3%;
        width: 110%;
        font-size: 10px;
        padding: -15%;

    }
    .lista-menu li{
        font-size: 8px;
    
    }
    .parceiros {
        margin-left: -4%;
        font-size: 30px;
        align-items: center;
        justify-content:center;
    }
    .parceiros h4{
        font-size: 13px;
    }
    .produtos{
        
        margin-left: -4%;
    }
    .produtos h2 {
        font-size: 20px;
        margin-bottom: 2%;
    }
    .titu2{
        font-size: 30px;
        margin-left: 6%;
    }
    .vertodos{
        align-items: center;
        margin-left: 3%;
    }
    .navegue{
        font-size: 35px;
        margin-left: 4%;
    }
    
}

@media only screen and (max-width: 767px) {
    .texto h1 ,h3 , button{
        font-size: 23px;
    }
    .texto .botao{
        font-size: 13px;
        width: 30%;
        height: 50px;
        
    }
    .cabecalho li{
        gap: 2%;
        
    }
    .lista-menu li{
        display: none;

    }
    .diversao {
        display: none;
    }
    .conteudo-tele{
        margin-left: 3%;
        
    }
    .conteudo-tele .txt1{
        font-size: 13px;
    }
    .conteudo-tele .txt2{
        font-size: 13px;
    }
    .diversao1 h5 {
        
        display: none;
    }
    .diversao1 h4{
        font-size: 13px;
    }
    .diversao1 .informaçao1 button{
        font-size: 8px;
        width: 100%;
        height: 100%;
        margin-left: 10%;
        margin-top: 10%;
    }
    .diversao1 .informaçao1 h6{
        display:none ;
    }
    .parceiros ,.produtos ,.titu2 ,.vertodos , .titu2 ,.navegue   {
        display: none;
        
    }
    .pagamentos{
        display: none;
    }
    .topo{
        display: none;
    }
    .cabecalho{
        margin-top: -2%;

}
.cabecalho img{
    width: 20%;
    height: 35%;
}

}
@media (max-width :500px){
    .topo{
        display: none;
    }
    .conteudo-tele .txt1{
        font-size: 9px;
    }
    .conteudo-tele .txt2{
        font-size: 9px;
    }
    .diversao1 h4{
        margin-top: -135%;
        font-size: 10px;
    } 
    .diversao1 .informaçao1 button{
        margin-top: 45%;
        width: 70px;
        
    }
    .vtex{
        display: none;
    }
    .final{
        font-size: 10px;
    }

}