@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sarala', sans-serif;
}
/*topo*/

.topo {
    width: 100%;
    height: 20px;
    font-size: 15px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 108px;
    color:rgb(159, 159, 159, 1);
    font-family: 'Poppins', sans-serif;
}
.topo1{
    align-items: center;
    justify-content: center;
    margin-left: -100px;
}
strong{
    color: rgba(247, 25, 99, 1);
}

/* meu header */

.cabecalho {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 0.3px solid rgba(0, 0, 0, 0.164);
    margin-bottom: 2px;
}
.rodape{
    height: 90px;
    padding-left: 40px;
    border-top: 0.3px solid rgba(255, 252, 252, 0.164);

}
img{
    margin-right: 0%;
    padding-left: 10%;
    padding-right: 0rem;
    
}
.cabecalho .lupa{
    margin-left: -15%;
    cursor: pointer;
}

.cabecalho input{
    width: 45%;
    height: 40px;
    font-size: 15px;
    border-radius: 10px ;
    background-color: rgba(246, 245, 242, 1);
    color:rgba(247, 25, 99, 1);
    margin-bottom: 0px;
    margin-right: -20px;
    
    
}

.cabecalho li{
    align-items: center;
    position:relative;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-right: -0px;
    
}
.cabecalho li a {
    transform: all 600ms ease-in;
}

.cabecalho li a:hover{
    font-size: 16px;
    color: rgba(247, 25, 99, 1);
    
}
/* lista de compras */
.lista-menu{
    border-top: 0.1px solid rgba(63, 59, 59, 0.411);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 100%;
    padding: 15px;
    border: #0c0c0c;
    border-radius: black;
}
.lista-menu li{
    font-size: 11px;
    padding: 40px;
    text-transform: uppercase;
    border: #0c0c0c;
    border-radius: black;
} 
.lista-menu li a{
    color: rgb(159, 159, 159, 1);
    transform: al 600ms ease-in;
    
}

.lista-menu li a:hover{
    font-size: 15px;
    color:rgba(247, 25, 99, 1);
}

/* imagen no fundo*/

.texto{
    background-image: linear-gradient( rgba(173, 155, 155, 0.247) , rgba(2, 2, 2, 0.781)), url(./img/fotofundotitulo.jpg);
    background-position: center ,center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}

.texto h1  {
    background-position: center;
    width: 100%;
    height: 10%;
    font-size: 50px;
    margin: 30px;
    color: rgb(253, 253, 253);
    font-family: 'Poppins', sans-serif;
}

.texto h3 {
    width: 100%;
    height: 30%;
    font-size: 30px;
    margin-left: 30px;
    color: rgba(252, 252, 252, 0.795);
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
}
.botao{
    background-color:rgba(247, 25, 99, 1);
    font-size: 150%;
    width: 230px;
    height: 50px;
    margin: 30px;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(240, 231, 231);
    font-weight: 70%;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    transition: all 600ms ease-in
}
.botao:hover{
    border: 1px solid rgba(247, 25, 99, 1);
    background-color: transparent;
    color: rgba(247, 25, 99, 1);
}

/* buscar */

.diversao {
    margin-top: 40px;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center ,center;
    flex-direction: row;
    padding-bottom: 3rem;
    gap: 5.5%;
    margin-left: 6%;
}
.diversao h3{
    color: #2A2A2A;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.diversao  img {
    height: 65%;
    width: 85%;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px;
    background-color:rgba(244, 244, 244, 1);
    color: #df23625e;
    transition: all 600ms ease-in;
}
.diversao img:hover{
    border: 1px solid #faf9f9 ;
    background-color:#faf7fa44;
}
.diversao .alinhar {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    transition: all 600ms ease-in;
    align-items: center;
    text-align: center ,center;
    justify-content: center;
    margin-top: 20%;
    color: #75656a;
}
.diversao .alinhar1 {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    transition: all 600ms ease-in;
    align-items: center;
    text-align: center ,center;
    justify-content: center;
    margin-top: 20%;
    color: rgba(247, 25, 99, 1);
}
/* produtos relacionados */
.titu1{
    margin: 20px;
    margin-top: 1%;
    text-align: center;
    justify-content: center ,center;
    padding-bottom: 3rem;
    gap: 1rem;
    color: rgba(247, 25, 99, 1);
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 25px;
}


.conteudo-tele{
    background-position: center;
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center , center;
    padding-bottom: 2rem;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-top: -1%;
}
.txt1 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: 1px solid #111011 ;
    gap: 10rem;
    left: 12rem;
    color: rgba(59, 59, 59, 1);
    background-color: rgba(255, 255, 255, 1);
    transition: all 600ms ease-in;
}
.txt1:hover{
    border: 1px solid #f8f3f5;
    background-color: #faf8f8;
    color: rgba(247, 25, 99, 1);
}
.txt2 {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 30px;
    color: rgba(247, 25, 99, 1);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border: 1px solid #0c0c0c ;
    gap: 10rem;
    left: 12rem;
    transition: all 600ms ease-in;
}
.txt2:hover{
    border: 1px solid #f8f3f5;
    background-color: #fcf8f9;
    color: rgba(247, 25, 99, 1);
}


/* teste */
.diversao1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10%;
}
.animaçao{
    width: 100%;
    margin-bottom: -1px;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(290px, 480px));
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
}

.diversao1 .animaçao img{
    width: 80%;
    height: 70%;
    grid-template-columns: repeat(auto-fit, minmax(290px, 380px));
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    padding-bottom: 70%;
    border-radius: 4%;
    box-shadow: 0 0 10px 3px rgba(134, 127, 127, 0.5);
}
.animaçao .informaçao1{
    background-color: rgb(255, 253, 253);
    margin-top: -78%;
    padding: 38px;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;

}
.animaçao h5 {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    border: 2px;
    align-items: center ,center;
    margin-left: -30px;
    line-height: 18px;
    color: rgb(63, 63, 64, 1);
    
}
.animaçao .promo{
    height: 20px;
    margin-top: 8%;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color:rgb(128, 128, 128, 1);
    text-decoration: line-through;
    margin-left: -30px;
}
.animaçao h4{
    height: 30px;
    font-size:20px ;
    font-family: 'Poppins', sans-serif;
    line-height: 23px;
    margin-left: -30px;
    color:rgb(63, 63, 64, 1);

}
.animaçao h6 {
    font-size:11px ;
    font-family: 'Poppins', sans-serif;
    line-height: 15px;
    margin-left: -30px;
    color:rgb(63, 63, 64, 1);

}
.animaçao .frete{
    color: rgba(247, 25, 99, 1);
}
.animaçao .compra{
background-color:rgba(247, 25, 99, 1);
color: #f8f3f5;
font-size: 15px;
font-family: 'Poppins', sans-serif;
height: 210%;
width: 140%;
line-height: 35px;
border-radius: 4px;
margin-top: 10%;
margin-left: -35px;
transition: all 600ms ease-in;
text-transform: uppercase;
}
.compra:hover{
    border: 1px solid #f8f3f5 ;
    background-color:#fcf8f9;
    color:rgba(247, 25, 99, 1);
}



/*modal*/

.janela-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(13, 14, 14, 0.575);
    display:none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal{
    width: 60%;
    height: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color:rgb(250, 249, 249);
    backdrop-filter: blur(10px);
    padding: 35px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:center ;
    font-size: 9px;
    font-family: 'Poppins', sans-serif;
    gap: 10%;
    
}
.janela-modal .modal img{
    width: 50%;
    height: 80%;
    box-shadow: none;
}
.fechar{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(253, 249, 249);
    color: rgb(12, 12, 12);
    font-size: 20px;
    cursor: pointer;
    transition: all 600ms ease-in;
}
.txtmodal{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    
}
.txtmodal h3 strong{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    gap: 10%;
    color: rgb(4, 30, 80, 1);
}
.txtmodal h3 {
    font-size: 18px;
    margin-top: -4%;
    margin-bottom: 3%;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: rgb(4, 30, 80, 1);
}
.txtmodal h6{
    color: rgb(34, 34, 34, 1);
    margin-left: 1%;
}
.txtmodal h5{
    margin-top: -4%;
    color: #070531;
}
.txtmodal input{
    height: 30px;
    width: 90px;
    background-color: #2b282b4f;
    gap: 20px;
    border-color:rgb(4, 30, 80, 1);
    margin-bottom: 1%;
    margin-top: 1%;
}
.comprarmodal{
    background-color: rgba(247, 25, 99, 1);
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 2%;
    text-transform: uppercase;
    transition: all 600ms ease-in;
}
.comprarmodal:hover{
    background-color: rgba(42, 133, 42, 0.719);
}
.janela-modal.abrir{
    display: flex;
}
.abrir .modal{
    animation:abrirmodal 1.5s;
}
/* parceiros*/


.parceiros{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center ;
}
.parceiros .txt2{
    background-image:linear-gradient( rgba(173, 155, 155, 0) , rgba(2, 2, 2, 0.781)), url(./img/imagemsala.png);
    margin-left: 65px;
    height: 23vw;
    width: 40%;
    left: 110%;
    border-radius: 8px 8px 8px 8px;

}
.parceiros .txt3{
    background-image:linear-gradient( rgba(173, 155, 155, 0) , rgba(2, 2, 2, 0.781)), url(./img/imagemsala.png);
    margin-left: 120px;
    height: 23vw;
    width: 40%;
    left: 100%;
    background-size: 100%;
    border-radius: 8px 8px 8px 8px;

}
.parceiros h2  {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    width: 300%;
    height: 30%;
    line-height: 450%;
    margin-left: 40px;
    color:rgb(255, 255, 255, 1);
    
    
}
.parceiros h4{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 110%;
    height:40%;
    line-height: 900%;
    margin-left: 45px;
    color: rgb(255, 255, 255, 1);
}
.parceiros .confirmar{

    background-color: rgba(247, 25, 99, 1);
    color: #f8f3f5;
    font-size: 13px;
    font-weight: 900;
    height: 15%;
    width: 25%;
    margin-left: 40px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 600ms ease-in;
    text-transform: uppercase;
}
.confirmar:hover{
    color: #f8f3f5;
    border: 1px solid #fcfafb ;
    background-color: transparent;
    color: #fffdfe;
}
/* titulos*/
.titu2{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 40px;
    text-align: center;
    justify-content: center ,center;
    color:  rgba(247, 25, 99, 1);
    text-decoration: none;
    margin-left: 80px;
    height: 10px;
}
.vertodos {
    height: 20px;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 40px;
    text-align: center;
    justify-content: center ,center;
    color:  #0c0c0c;
    margin-left: 40px;
}

/*produtos */

.produtos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    align-items: center ;
}
.produtos .txt4{
    background-image:linear-gradient( rgba(173, 155, 155, 0) , rgba(2, 2, 2, 0.781)), url(./img/imagemsala.png);
    margin-left: 90px;
    height: 20vw;
    width: 37%;
    left: 100%;
    background-size: 100%;
    border-radius: 6px;
}
.produtos .txt5{
    background-image:linear-gradient( rgba(173, 155, 155, 0) , rgba(2, 2, 2, 0.781)), url(./img/imagemsala.png);
    margin-left: 140px;
    height: 20vw;
    width: 37%;
    left: 100%;
    background-size: 100%;
    border-radius: 6px;

}
.produtos h2  {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    width: 300%;
    height: 30%;
    line-height: 450%;
    margin-left: 20px;
    color: rgba(255, 255, 255, 1);
}
.produtos h4{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    width: 300%;
    height: 30%;
    line-height: 900%;
    margin-left: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 5%;
}
.produtos .confirmar {
    background-color: rgba(247, 25, 99, 1);
    color: #f8f3f5;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    height: 15%;
    width: 25%;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 600ms ease-in;
    text-transform: uppercase;
}
.confirmar:hover{
    color: #f8f3f5;
    border: 1px solid #faf7f8 ;
    background-color: transparent;
    color: #faf5f7;
}
.navegue{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin: 35px;
    text-align: center;
    justify-content: center ,center;
    color:  rgba(247, 25, 99, 1);
    text-decoration: none;
    margin-left: 10px;
    height: 70px;
}
/* imagens vtex */
.vtex{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.vtex .vtex1{
    display: flex;
    align-items: center ,center;
    text-align: center;
    width: 20%;
    height: 20%;
    cursor: pointer;
    margin-bottom: 5%; 
    margin: 3%;
    margin-left: -6%;
}

/* rodape*/
.rodape1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:center ;
    font-size: 9px;
    font-family: 'Poppins', sans-serif;
    gap: 100px;
    background-color:#2A2A2A;
    margin-top: 4%;
}
.rodape1 i {
    height: 19%;
    width: 7%;
    top: 20px;
    color: #f8f3f5;
    
}
.txt6{
    margin-top: 10%;
    height: 9vh ;
    color: #f8f3f5;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    text-align: center center;
    align-items: center;
    margin-bottom: 5%;
}
.txt7{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    height:5vh ;
    color: #9b8c92;
}
.rodape1 .txt8 {
    height: 8vh;
    color: #fdfcfd;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center center;
    align-items: center;
    margin-left: 8%;
    margin-top: 10%;
}
.txt9 {
    margin-top: 5%;
    height: 8vh;
    color: #f8f3f5;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center center;
    align-items: center;
    margin-left: 4px;
}
.pagamentos img {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 90px;

}
.login{
    width: 250px;
    height: 160px;
    left: 700px;
    border-radius: 10px;
    background-color: #f8f3f5;
    gap: 10px;
}
.login span{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    height: 1vw;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    margin-top: 9px;
    color: #2A2A2A;

}
.login h2{
    height: 2vw;
    margin-left: 19px;
    margin-top: 7px;
    text-transform: uppercase;
}
.login p{
    height: 3vw;
    margin-left: 19px;
    margin-top: 7px;
    text-align: center;
    align-items: center, center;
    justify-content: center;
}
.login input{
    height: 30px;
    margin-left: 19px;
    margin-top: 7px;
    
}
.login input{
    height: 30px;
    margin-left: 19px;
    margin-top: 7px;
    
}
.botao1{
    background-color:rgba(247, 25, 99, 1);
    height: 20px;
    width: 35px;
    color: #fffefe;
    text-transform: uppercase;
}
.botao1:hover{
    color: #f8f3f5;
    border: 1px solid rgba(247, 25, 99, 1);
    background-color: transparent;
    color: rgba(247, 25, 99, 1);
}
.final{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.6px solid rgb(250, 247, 247);
    background-color: #2A2A2A;
}
.final h4{
    color: #f8f3f5;
    gap: 30px;
    margin-top: 3%;
}
.sobrenos .final6{
    color: #fdfdff;
    margin-top: 10%;
}

.final1{
    margin: 1%;
    width: 25%;
    height: 27%;
} 
/* animação em css  para o modal */

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, 0px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.abrir .modal{
    animation: abrirmodal 1.5s;
}