*{
    
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sarala', sans-serif;
}
/*topo*/

.topo {
    width: 100vw;
    height: 20px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(129, 114, 114);
    
}
strong{
    color: #f71963;
}

/* meu header */

.cabecalho {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 0.3px solid rgba(0, 0, 0, 0.164);
    margin-bottom: 1px;
}
.rodape{
    height: 90px;
    padding-left: 40px;
    border-top: 0.3px solid rgba(255, 252, 252, 0.164);
}
img{
    
    padding-left: 0rem;
    padding-right: 0rem;
}

.cabecalho input{
    width: 45%;
    height: 40px;
    font-size: 18px;
    border-radius: 10px ;
    background-color: rgba(146, 136, 136, 0.315);
    color: #e90445;
    margin-bottom: 7px;
    margin-right: 20px;
    
    
}

.cabecalho li{
    align-items: center;
    position:relative;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-right: 2rem;
    
}
.cabecalho li a {
    transform: all 600ms ease-in;
}

.cabecalho li a:hover{
    font-size: 16px;
    color: #f71963;
    
}
.lista-menu{
    border-top: 0.1px solid rgba(63, 59, 59, 0.411);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 100%;
    padding: 15px;
}
.lista-menu li{
    font-size: 10px;
    padding: 40px;
    text-transform: uppercase;
    
} 
.lista-menu li a{
    color: #504649a4;
    transform: al 600ms ease-in;
}

.lista-menu li a:hover{
    font-size: 17px;
    color:#f71963;
}

/* imagen no fundo*/

.texto{
    background-image: linear-gradient( rgba(173, 155, 155, 0.247) , rgba(2, 2, 2, 0.781)), url(./img/fotofundotitulo.jpg);
    background-position: center ,center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.texto h1  {
    background-position: center;
    width: 100%;
    height: 10%;
    font-size: 50px;
    margin: 30px;
    margin-left: 80px;
    color: rgb(253, 253, 253);
    
}

.texto h3 {
    width: 100%;
    height: 30%;
    font-size: 30px;
    margin-left: 80px;
    color: rgba(252, 252, 252, 0.795);
}
.botao{
    background-color: #f71963;
    font-size: 150%;
    width: 230px;
    height: 50px;
    margin: 80px;
    cursor: pointer;
    background-color: #f71963;
    border-radius: 5px;
    color: rgb(240, 231, 231);
    font-weight: 70;
    margin-top: -10rem;
    transition: all 600ms ease-in
}
.botao:hover{
    border: 1px solid #f71963 ;
    background-color: transparent;
    color: #f71963;
}

/* buscar */

.diversao {
    margin-top: 20px;
    height: 200px;
    display: flex;
    text-align: center;
    align-items: center ,center;
    flex-direction: row;
    align-items: center;
    padding-bottom: 4rem;
    gap: 25px;
    margin-left: 9%;
    
    
    
}
.diversao  img {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 2px 2px  rgb(129, 126, 126);
    background-color: rgba(255, 255, 255, 0.308);
    color: #df23625e;
    transition: all 600ms ease-in;
    
    
    
}
.diversao img:hover{
    border: 1px solid #f71963 ;
    background-color:#f7196344;
    color: #f71963;
}
.diversao h3 {
    font-size: 15px;
    margin: 1.8rem;
    transition: all 600ms ease-in;
    align-items: center;
    text-align: center ,center;
    justify-content: center;
    color: #e90445;
}
.titu1{
    margin: 20px;
    margin-top: 3%;
    text-align: center;
    justify-content: center ,center;
    padding-bottom: 3rem;
    gap: 1rem;
    color:  #f71963;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 25px;
}


.conteudo-tele{
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center , center;
    padding-bottom: 2rem;
    margin-bottom: 30px;
    margin-left: 7px;
}
.txt1 {
    font-size: 15px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: 1px solid #111011 ;
    gap: 10rem;
    left: 12rem;
    transition: all 600ms ease-in;
}
.txt1:hover{
    border: 1px solid #f8f3f5 ;
    background-color:#fcf8f9;
    color:#f71963;
}
/* celulares */
.celulares{
    left: 100%;
    width: 100%;
    display: contents;
    flex-direction: column;
    align-items: center , center;
    justify-content:right;
    cursor: pointer;
    
    
}
.intens-celulares{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center, ;
    align-items: center ;
    padding-bottom: 5rem;
    margin: 30px;
    margin-left: 10px;
    gap: 67px;
    
}
.intens-celulares .informaçao{
    font-size: 20px;
    width: 240px;
    height: 200px;
    top : 22px;
    left: 343px;
    box-shadow: 1px 1px 1px 3px rgba(92, 86, 86, 0.247);
    align-items: center;
    justify-content: center , center;
    flex-direction: row;
    margin-left: 25px;
    
}

.intens-celulares img{
    width: 240px;
    height: 200px;
    top : 22px;
    left: 33px;
    margin-left: 25px;
    box-shadow: 1px 1px 1px 3px rgba(73, 68, 68, 0.274);
    align-items: center;
    text-align: center;
    justify-content: center , center;
    flex-direction: row;
    border-radius: 5px;
    
}
.intens-celulares h5 {
    font-size: 12px;
    border: 2px;
    align-items: center ,center;
    margin-left: 10px;
    line-height: 23px;
    color: #817581;
    
}
.intens-celulares .promo{
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    color:#817581ce;
    text-decoration: line-through;
}
.intens-celulares h4{
    height: 30px;
    font-size:20px ;
    line-height: 23px;
    margin-left: 10px;
    color: black;
}
.intens-celulares h6 {
    font-size:13px ;
    line-height: 23px;
    margin-left: 10px;
    color:#817581;
}
.intens-celulares .frete{
    color: #ff0055;
}
.intens-celulares .compra{
background-color: #f71963;
color: #f8f3f5;
font-size: 18px;
height: 20%;
width: 90%;
margin-left: 10px;
border-radius: 4px 4px 4px 4px ;
transition: all 600ms ease-in;
text-transform: uppercase;
}
.compra:hover{
    border: 1px solid #f8f3f5 ;
    background-color:#fcf8f9;
    color:#f71976;
}

.janela-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(13, 14, 14, 0.575);
    display:none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal{
    width: 50%;
    height: 45%;
    min-width: 450px;
    min-height: 200px;
    background-color:rgb(255, 254, 254);
    backdrop-filter: blur(10px);
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:center ;
    font-size: 9px;
    gap: 60px;
    
}
.fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.txtmodal{
    font-size: 15px;
    line-height: 30px;
    
}
.txtmodal h3 strong{
    
    color: #0c0c0c;
}
.txtmodal input{
    height: 20px;
    width: 90px;
    background-color: #2b282b4f;
    gap: 20px;
    border-color: #0c0c0c;
}
.comprarmodal{
    background-color: #ff0037;
    color: white;
    height: 30px;
    width: 160px;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 600ms ease-in;
}
.comprarmodal:hover{
    background-color: rgba(42, 133, 42, 0.719);
}
.janela-modal.abrir{
    display: flex;
}
.abrir .modal{
    animation: abrirmodal 1.5s;
}

.parceiros{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center ;
}
.parceiros .txt2{
    background-image:linear-gradient( rgba(173, 155, 155, 0) , rgba(2, 2, 2, 0.781)), url(./img/imagemsala.png);
    margin-left: 30px;
    height: 20vw;
    width: 40%;
    left: 100%;
    border-radius: 8px 8px 8px 8px;

}
.parceiros .txt3{
    background-image:linear-gradient( rgba(173, 155, 155, 0) , rgba(2, 2, 2, 0.781)), url(./img/imagemsala.png);
    margin-left: 120px;
    height: 20vw;
    width: 40%;
    left: 100%;
    background-size: 100%;
    border-radius: 8px 8px 8px 8px;

}
.parceiros h2  {
    font-size: 40px;
    width: 300%;
    height: 30%;
    line-height: 450%;
    margin-left: 40px;
    color: #ffffff;
    
    
}
.parceiros h4{
    font-size: 12px;
    width: 300%;
    height: 30%;
    line-height: 950%;
    margin-left: 40px;
    color: #ffffff;
}
.parceiros .confirmar{

    background-color: #f71963;
    color: #f8f3f5;
    font-size: 13px;
    height: 15%;
    width: 25%;
    margin-left: 40px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 600ms ease-in;
    text-transform: uppercase;
}
.confirmar:hover{
    color: #f8f3f5;
    border: 1px solid #fcfafb ;
    background-color: transparent;
    color: #fffdfe;
}
/* titulos*/
.titu2{
    font-size: 30px;
    margin: 40px;
    text-align: center;
    justify-content: center ,center;
    color:  #f71963;
    text-decoration: none;
    margin-left: 10px;
    height: 10px;
}
.vertodos {
    height: 20px;
    margin-top: 10px;
    font-size: 15px;
    margin: 40px;
    text-align: center;
    justify-content: center ,center;
    color:  #0c0c0c;
    margin-left: 2px;
}

/*produtos */

.produtos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    align-items: center ;
}
.produtos .txt4{
    background-image:linear-gradient( rgba(173, 155, 155, 0) , rgba(2, 2, 2, 0.781)), url(./img/imagemsala.png);
    margin-left: 50px;
    height: 20vw;
    width: 37%;
    left: 100%;
    background-size: 100%;
    border-radius: 6px;
}
.produtos .txt5{
    background-image:linear-gradient( rgba(173, 155, 155, 0) , rgba(2, 2, 2, 0.781)), url(./img/imagemsala.png);
    margin-left: 140px;
    height: 20vw;
    width: 37%;
    left: 100%;
    background-size: 100%;
    border-radius: 6px;

}
.produtos h2  {
    font-size: 40px;
    width: 300%;
    height: 30%;
    line-height: 450%;
    margin-left: 20px;
    color: #ffffff;
}
.produtos h4{
    font-size: 12px;
    width: 300%;
    height: 30%;
    line-height: 950%;
    margin-left: 40px;
    color: #ffffff;
}
.produtos .confirmar {
    background-color: #f71963;
    color: #f8f3f5;
    font-size: 17px;
    height: 15%;
    width: 25%;
    margin-left: 40px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 600ms ease-in;
    text-transform: uppercase;
}
.confirmar:hover{
    color: #f8f3f5;
    border: 1px solid #faf7f8 ;
    background-color: transparent;
    color: #faf5f7;
}
.navegue{
    font-size: 35px;
    margin: 40px;
    text-align: center;
    justify-content: center ,center;
    color:  #f71963;
    text-decoration: none;
    margin-left: 10px;
    height: 70px;
}
.vtex{
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    
}
.vtex1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 110px;
    top: 2px;
    left: 761px;
    margin-left: 40px;
    cursor: pointer;
    border-radius:50%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.212);
}

/* rodape*/
.rodape1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:center ;
    font-size: 9px;
    gap: 100px;
    background-color: #2b282b;
}
.rodape1 i {
    height: 19%;
    width: 7%;
    top: 20px;
    color: #f8f3f5;
}
.txt6{
    
    height: 9vh;
    color: #f8f3f5;
    font-size: 17px;
    text-align: center center;
    align-items: center;
}
.txt7{
    height:5vh ;
    color: #9b8c92;
}
.txt8 {
    height: 8vh;
    color: #f8f3f5;
    font-size: 18px;
    text-align: center center;
    align-items: center;
    margin-left: 4px;

}
.pagamentos img {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 90px;

}
.login{
    width: 250px;
    height: 160px;
    left: 700px;
    border-radius: 10px;
    background-color: #f8f3f5;
    gap: 10px;
}
.login span{
    font-size: 12px;
    text-transform: lowercase;
    height: 1vw;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    margin-top: 9px;
    color: #2b282b;

}
.login h2{
    height: 2vw;
    margin-left: 19px;
    margin-top: 7px;
    text-transform: uppercase;
}
.login p{
    height: 3vw;
    margin-left: 19px;
    margin-top: 7px;
    text-align: center;
    align-items: center, center;
    justify-content: center;
}
.login input{
    height: 30px;
    margin-left: 19px;
    margin-top: 7px;
    
}
.botao1{
    background-color: #f71963;
    height: 20px;
    width: 35px;
    color: #fffefe;
    text-transform: uppercase;
}
.botao1:hover{
    color: #f8f3f5;
    border: 1px solid #f71963 ;
    background-color: transparent;
    color: #f71963;
}
.final{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.6px solid rgb(255, 255, 255);
    background-color: #382e38;
}
.final h4{
    color: #f8f3f5;
    gap: 30px;
}

.final1{
    margin: 1%;
    width: 15%;
    height: 17%;
}
/* animação em css  para o modal */

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, 0px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.abrir .modal{
    animation: abrirmodal 1.5s;
}